.folder {
    display: none;
}

.formR{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media only screen and (max-width: 800px) {
    .header {
        display: none;
    }

    .formR{
        display: none;
    }

    .tabelaScroll {
        display: none;
    }

    .folder {
        display: grid;
    }


    .abas {
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .aba {
        display: inline;
    }

    .aba>a {
        float: left;
        padding: 0.5em 1em;
        background: linear-gradient(#FFF, #EEE);
        border-width: 1px;
        border-style: solid;
        border-color: #CCC #CCC #FFF;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        text-decoration: none;
    }

    .aba:not(:target) a {
        border-bottom: 0 none;
    }

    .aba:target a,
    a:hover {
        background: white;
    }

}

.input_clean {
    border-style: none;
}

.footer {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(7, 7, 7);
    text-align: center;
    background-color: white;
    height: 3%;
}


.excluirC {
    background-color: rgb(245, 65, 65);
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 3px;
    border-radius: 10px;
    margin: auto;
}

.excluirC:hover {
    background-color: rgb(245, 30, 30);
}


.vermelho {
    color: red;
}

.item {
    width: 100px;
    height: 25px;
    text-align: right;

}

.produto {
    width: 220px;
    height: 25px;
    text-align: right;
}

.descricao {
    width: 100px;
    height: 25px;
    text-align: right;
}

.quantidade {
    width: 80px;
    height: 25px;
    text-align: right;
}

.quantidade[type=number]::-webkit-inner-spin-button,
.quantidade[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.gbu {
    width: 100px;
    height: 25px;
    text-align: right;
}

.valor_unit {
    width: 100px;
    height: 25px;
    text-align: right;
}

.valor_unit1 {
    width: 100px;
    height: 25px;
    text-align: right;
}

.desc1 {
    width: 80px;
    height: 25px;
    text-align: right;
}

.desc1[type=number]::-webkit-inner-spin-button,
.desc1[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.valor_unit2 {
    width: 80px;
    height: 25px;
    text-align: right;
}

.desc2 {
    width: 80px;
    height: 25px;
    text-align: right;
}

.desc2[type=number]::-webkit-inner-spin-button,
.desc2[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.valor_unit3 {
    width: 100px;
    height: 25px;
    text-align: right;
}

.desc_final {
    width: 80px;
    height: 25px;
    text-align: right;
}

.desc_final[type=number]::-webkit-inner-spin-button,
.desc_final[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.total {
    width: 100px;
    height: 25px;
    text-align: right;
}

.tabela {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

#erro-item {
    text-align: center;
}

#erro-produto {
    text-align: center;
}

#erro-descricao {
    text-align: center;
}

#erro-quantidade {
    text-align: center;
}

#erro-gbu {
    text-align: center;
}

#erro-valor_unit {
    text-align: center;
}

#erro-desc1 {
    text-align: center;
}

#erro-valor_unit1 {
    text-align: center;
}

#erro-desc2 {
    text-align: center;
}

#erro-valor_unit2 {
    text-align: center;
}

#erro-descFinal {
    text-align: center;
}

#erro-valor_unit3 {
    text-align: center;
}

#erro-total {
    text-align: center;
}

#erro-acoes {
    text-align: center;
}

.tabelaScroll {
    max-height: 250px;
    overflow-y: scroll;
}